<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="user1" value="smittjack22" />
		<add key="password1" value="123456sdf" />
		<add key="user2" value="scotttom436" />
		<add key="password2" value="159758zxc" />
		<add key="user3" value="smittjack22" />
		<add key="password3" value="123456sdf" />
		<add key="attachFile" value="C:\Users\Aliaksandra_Valodzina@epam.com\Task\SpaghettiTests\Tests\bin\Debug\AttachFile.txt" />
	</appSettings>
</configuration>